
$color-yellow: #FFB400;
$color-dark-blue: #232938;
$color-white: #ffffff;
$color-text-grey: #666666;
$color-border-grey: #dddddd;
$color-body-bg: #e0e0e0;

$font-primary: 'Roboto', sans-serif;
$font-heading: 'Oswald', sans-serif;