// Кольори
$color-yellow: #FFB400; // Основний жовтий
$color-dark-blue: #232938; // Темно-синій для фонів і тексту
$color-white: #ffffff;
$color-text-grey: #666666; // Сірий для основного тексту
$color-border-grey: #dddddd; // Світло-сірий для ліній
$color-body-bg: #e0e0e0; // Сірий фон сторінки

// Шрифти (потрібно підключити в index.html)
$font-primary: 'Roboto', sans-serif; // Для основного тексту
$font-heading: 'Oswald', sans-serif; // Для заголовків