// Кольори
$color-yellow: #FFB400; // Насичений жовтий (як на макеті)
$color-dark-blue: #232938; // Темний колір, майже чорний
$color-white: #ffffff;
$color-text-grey: #666; // Сірий для основного тексту

// Шрифти
$font-primary: 'Roboto', sans-serif;
$font-heading: 'Oswald', sans-serif;