@import 'variables';

body {
  background-color: #e0e0e0;
}

// Основний контейнер
.cv-container {
  background-color: $color-white;

  // Біла рамка навколо всього резюме
  padding: 30px;

  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.cv-body-row {
  display: flex;
  min-height: 1000px;
}

// --- ЛІВА КОЛОНКА ---
.cv-left-col {
  background-color: $color-yellow;
  color: $color-dark-blue;
  display: flex;
  flex-direction: column;
  // Тут прибрали border-left, щоб смуга не йшла донизу
}

// Контент зліва
.left-col-content {
  padding: 40px 30px;
  flex-grow: 1;
}

// --- ПРАВА КОЛОНКА ---
.cv-right-col {
  display: flex;
  flex-direction: column;
  // Тут прибрали border-right
}

.right-col-content {
  background-color: $color-white;
  color: $color-text-grey;
  padding: 40px 50px;
  flex-grow: 1;
}