@import 'variables';

.cv-container {
   overflow: hidden;
}

.cv-main {
  display: flex;
   flex-wrap: wrap;
}

.cv-left-column {
   background-color: $color-yellow;
   color: $color-dark-blue;
   padding: 40px 30px 20px 30px;
   flex: 0 0 40%;
}

.cv-right-column {
   background-color: $color-white;
   color: $color-text-grey;
   padding: 40px 50px;
  flex: 0 0 60%;
}