@import 'variables';

body {
  background-color: #e0e0e0;
}

.cv-container {
  background-color: $color-white;

  padding: 30px;

  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.cv-body-row {
  display: flex;
  min-height: 1000px;
}

.cv-left-col {
  background-color: #ffc81f;
  color: $color-dark-blue;
  display: flex;
  flex-direction: column;
}

.left-col-content {
  padding: 40px 30px;
  flex-grow: 1;
}

.cv-right-col {
  display: flex;
  flex-direction: column;
}

.right-col-content {
  background-color: $color-white;
  color: $color-text-grey;
  padding: 40px 50px;
  flex-grow: 1;
}