@import 'variables';

$base-margin: 40px;
$half-margin: $base-margin / 2;

.education-section {
  margin-bottom: $base-margin + 10px;
}

%years-base-style {
  font-weight: 300;
  font-size: 0.8em;
  opacity: 0.8;
  margin-top: $half-margin;
}


.education-title {
  color: $color-dark-blue;
  padding-bottom: 5px;
}

.education-item {
  margin-bottom: 25px;
  font-size: 0.9em;

  .major {
    font-weight: bold;
    font-size: 1.1em;
    color: $color-dark-blue;
  }

  .university {
    font-size: 0.9em;
  }

  .years {
    @extend %years-base-style;
    color: $color-dark-blue;
  }
}