@import 'variables';

.education-section {
  margin-bottom: 40px;
}

.education-title {
  color: $color-dark-blue;
  padding-bottom: 15px;
  // Лінія під заголовком в лівій колонці
  border-bottom: 2px solid rgba($color-dark-blue, 0.3);
  margin-bottom: 30px;
}

.education-item {
  margin-bottom: 30px;

  .major {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    color: $color-dark-blue;
    margin-bottom: 5px;
  }

  .university {
    font-size: 0.9em;
    margin-bottom: 5px;
  }

  .years {
    font-size: 0.8em;
    font-weight: 300;
    opacity: 0.7;
  }
}