@import 'variables';

.education-section {

  margin-bottom: 100px;
}

.education-title {
  font-family: $font-heading;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-dark-blue;
  margin-bottom: 35px;
  padding-bottom: 15px;

  display: block;

  border-bottom: 1px solid rgba($color-dark-blue, 0.3);

  margin-right: -30px;

  padding-right: 30px;
}

.education-item {
  margin-bottom: 35px;
  .major {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.05em;
    color: $color-dark-blue;
    margin-bottom: 8px;
    font-family: $font-primary;
  }
  .university {
    font-size: 0.95em;
    margin-bottom: 5px;
    font-weight: 500;
  }
  .years {
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.8;
  }
}