@import 'variables';

.expertise-section {
  margin-top: 60px;
}

.expertise-title {
  color: $color-dark-blue;
  padding-bottom: 15px;
  // Без підкреслення, або тонка лінія, якщо треба
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
}

.expertise-list {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

  .expertise-item {
    text-align: center;
    width: 20%;
    color: $color-text-grey;
    font-size: 0.75em;

    .circle-icon {
      width: 70px;
      height: 70px;
      // ЖИРНА рамка (як на фото)
      border: 7px solid $color-dark-blue;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 15px auto;

      // Текст всередині (Ps, Ai...)
      font-family: $font-heading;
      font-weight: 700;
      font-size: 0.9em;
      color: $color-dark-blue;
    }

    span {
      line-height: 1.3;
      display: block;
      font-weight: 500;
    }
  }
}