@import 'variables';

.experience-section {
  margin-bottom: 50px;
}

// Стиль заголовка з лінією на всю ширину
.experience-title {
  font-family: $font-heading;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-dark-blue;
  font-size: 1.5em;
  margin-bottom: 35px;
  padding-bottom: 15px;

  // Лінія на всю ширину
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba($color-dark-blue, 0.2); // Тонка темна лінія
  margin-right: -410px;
  padding-right: 410px;
}

.experience-item {
  margin-bottom: 35px;

  .job-position {
    font-family: $font-heading;
    font-weight: 700;
    font-size: 1.15em;
    color: $color-dark-blue;
    margin-bottom: 10px;
  }

  .job-meta {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    margin-bottom: 15px;
    color: $color-text-grey;

    .job-date-badge {
      background-color: $color-dark-blue;
      color: $color-white;
      padding: 4px 10px;
      font-size: 0.85em;
      font-weight: 700;
      margin-right: 12px;
      text-transform: uppercase;
    }

    .company-name {
      font-weight: 500;
    }
  }

  p {
    line-height: 1.6;
    font-size: 0.95em;
    color: darken($color-text-grey, 10%);
  }
}