@import 'variables';

.experience-section {
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ddd;
}

.experience-title {
  color: $color-dark-blue;
  position: relative;
  padding-bottom: 10px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: $color-yellow;
  }
}

.experience-item {
  margin-bottom: 20px;

  .job-position {
    font-weight: bold;
    font-size: 1.1em;
    color: $color-dark-blue;
    margin-bottom: 5px;
  }

  .job-meta {
    font-size: 0.85em;
    margin-bottom: 8px;

    .job-present-tag {
      background-color: $color-dark-blue;
      color: $color-white;
      padding: 2px 6px;
      border-radius: 3px;
      font-weight: bold;
      margin-right: 5px;
    }
    .job-years {
      font-weight: bold;
      color: $color-dark-blue;
    }
  }

  p {
    font-size: 0.9em;
    line-height: 1.4;
  }
}