@import 'variables';

.expertise-section {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.expertise-title {
  color: $color-dark-blue;
  position: relative;
  padding-bottom: 10px;
}

.expertise-list {
  margin-top: 20px;

  .expertise-item {
    font-size: 0.8em;
    color: $color-text-grey;

    .circle-icon {
      width: 60px;
      height: 60px;
      border: 3px solid $color-dark-blue;
      border-radius: 50%;
      margin-bottom: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-white;
      font-size: 0.8em;

      span {
        position: relative;
        z-index: 10;
        font-family: $font-heading, sans-serif;
        font-weight: bold;
        color: $color-dark-blue;
      }
    }
  }
}