@import 'variables';

.header-top-bar {
  height: 60px;
}

.header-top-left {
  background-color: $color-yellow;
  color: $color-dark-blue;
  padding: 0;

  .contact-block-area {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 100%;

    i {
      margin-right: 8px;
      font-size: 1.5em;
    }

    .label {
      display: block;
      font-weight: bold;
      font-size: 0.8em;
    }

    .street-address {
      font-size: 0.7em;
    }
  }
}

.header-top-right {
  background-color: $color-white;
  color: $color-text-grey;
  padding: 0 40px;
  font-size: 0.8em;

  .contacts {
    gap: 30px;
    .contact-item {
      text-align: left;
      display: flex;
      flex-direction: column;

      .label {
        display: block;
        font-weight: bold;
        color: $color-dark-blue;
      }
    }
  }
}


.header-main {
  .header-photo-area {

    padding: 0;

    .header-photo-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: #333;
    }
  }

  .header-title-area {
    background-color: $color-dark-blue;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-family: $font-heading, sans-serif;
      font-size: 2.8em;
      letter-spacing: 2px;
      margin-bottom: 0.1em;
    }

    .title-underline {
      width: 60px;
      height: 3px;
      background-color: $color-yellow;
      margin-bottom: 15px;
    }

    h2 {
      font-family: $font-heading, sans-serif;
      font-size: 1.1em;
      font-weight: 400;
      letter-spacing: 1px;
      margin-bottom: 15px;
    }

    p {
      font-size: 0.9em;
      line-height: 1.5;
      opacity: 0.85;
      max-width: 400px;
    }
  }
}