@import 'variables';

.hobby-section {
  margin-top: 40px;
}

.hobby-title {
  color: $color-dark-blue;
  padding-bottom: 5px;
}

.hobby-list {
  margin-top: 20px;

  .hobby-item {
    color: $color-dark-blue;
    font-size: 0.8em;

    i {
      font-size: 1.5em;
      margin-bottom: 5px;
      display: block;
    }
  }
}