@import 'variables';

.hobby-section {
  margin-top: 60px;
}

.hobby-title {
  font-family: $font-heading;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-dark-blue;
  margin-bottom: 35px;
  padding-bottom: 15px;

  display: block;
  border-bottom: 1px solid rgba($color-dark-blue, 0.3);

  margin-right: -30px;
  padding-right: 30px;
}

.hobby-list {
  display: flex;
  justify-content: space-between;

  .hobby-item {
    text-align: center;
    color: $color-dark-blue;
    .hobby-circle {
      width: 55px;
      height: 55px;
      border: 2px solid $color-dark-blue;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 15px auto;
      i { font-size: 1.4em; }
    }
    span {
      font-size: 0.9em;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}