@import 'variables';
@import 'header';
@import 'alexbrahar';
@import 'education';
@import 'hobby';
@import 'experience';
@import 'expertise';


@mixin section-title-mixin($font-family, $font-size) {
  font-family: $font-family;
  font-size: $font-size;
  margin-bottom: 20px;
  text-transform: uppercase;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: $font-primary;
  color: $color-text-grey;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.cv-container {
  width: 210mm;
  max-width: 100%;
  min-height: 297mm;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: $color-white;
}

.section-title {
  @include section-title-mixin($font-heading, 1.8em);
}
.toggle-arrow {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  font-size: 0.8em;
  transition: transform 0.3s ease;
  color: $color-yellow;
}

.toggle-arrow.rotated {
  transform: rotate(180deg);
}

.hidden-content {
  display: none;
}

#person-name {
  white-space: pre-wrap;
}