@import 'variables';
@import 'header';
@import 'alexbrahar';
@import 'education';
@import 'hobby';
@import 'experience';
@import 'expertise';


// Лаб. 3: Міксин для стилізації заголовків
@mixin section-title-mixin($font-family, $font-size) {
  font-family: $font-family;
  font-size: $font-size;
  margin-bottom: 20px;
  text-transform: uppercase;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: $font-primary;
  color: $color-text-grey; // Використовуємо сірий для body
  background-color: #f5f5f5; // Світлий фон сторінки
  display: flex;
  justify-content: center;
  padding: 30px 0; // Відступи навколо CV-картки
}

.cv-container {
  width: 210mm;
  max-width: 100%;
  min-height: 297mm;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: $color-white;
}

.section-title {
  @include section-title-mixin($font-heading, 1.8em);
}