<div class="education-section">
    <h3 class="section-title education-title">Education</h3>

    <div class="education-item">
        <div class="major">ENTER YOUR MAJOR</div>
        <div class="university">Name Of Your University Here</div>
        <div class="years">2005-2009</div>
    </div>
    <div class="education-item">
        <div class="major">ENTER YOUR MAJOR</div>
        <div class="university">Name Of Your University Here</div>
        <div class="years">2009-2011</div>
    </div>
    <div class="education-item">
        <div class="major">ENTER YOUR MAJOR</div>
        <div class="university">Name Of Your University Here</div>
        <div class="years">2009-2011</div>
    </div>
</div>