<div class="expertise-section mt-5">
    <h3 class="section-title expertise-title">Expertise</h3>

    <div class="row expertise-list text-center">
        <div class="col-3 expertise-item d-flex flex-column align-items-center">
            <div class="circle-icon mb-1">Ps</div>
            <span>Adobe Photoshop</span>
        </div>
        <div class="col-3 expertise-item d-flex flex-column align-items-center">
            <div class="circle-icon mb-1">Ai</div>
            <span>Adobe Illustrator</span>
        </div>
        <div class="col-3 expertise-item d-flex flex-column align-items-center">
            <div class="circle-icon mb-1">Id</div>
            <span>Adobe InDesign</span>
        </div>
        <div class="col-3 expertise-item d-flex flex-column align-items-center">
            <div class="circle-icon mb-1">Pp</div>
            <span>Power Point</span>
        </div>
    </div>
</div>