<div class="experience-section">
    <h3 class="section-title experience-title">Experience</h3>

    <div class="experience-item">
        <div class="job-position">Enter Job Position Here</div>
        <div class="job-meta">
            <span class="job-present-tag">Present</span> |
            <span>Company Name / Location</span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
    </div>

    <div class="experience-item">
        <div class="job-position">Enter Job Position Here</div>
        <div class="job-meta">
            <span class="job-years">2017 - 2019</span> |
            <span>Company Name / Location</span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
    </div>

    <div class="experience-item">
        <div class="job-position">Enter Job Position Here</div>
        <div class="job-meta">
            <span class="job-years">2015 - 2017</span> |
            <span>Company Name / Location</span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
    </div>
</div>