
<div class="experience-section">
    <h3 class="section-title experience-title">Experience</h3>

    <div class="experience-item">
        <div class="job-title">Enter Job Position Here</div>
        <div class="meta-info mb-2">
            <span class="status">Present</span> | Company Name / Location
        </div>
        <p>Lorem ipsum dolor sit amet, this is a thena consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
    </div>

    <div class="experience-item">
        <div class="job-title">Enter Job Position Here</div>
        <div class="meta-info mb-2">
            <span class="years">2017 - 2019</span> | Company Name / Location
        </div>
        <p>Lorem ipsum dolor sit amet, this is a thena consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
    </div>

    <div class="experience-item">
        <div class="job-title">Enter Job Position Here</div>
        <div class="meta-info mb-2">
            <span class="years">2015 - 2017</span> | Company Name / Location
        </div>
        <p>Lorem ipsum dolor sit amet, this is a thena consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et</p>
    </div>
</div>