<header class="header row g-0">
    <div class="col-md-5 header-left-section">

        <div class="header-top-left-contacts">
            <div class="contact-block-area">
                <i class="fas fa-map-marker-alt"></i>
                <div>
                    <span class="label">AREA</span>
                    <span class="street-address">Your Street Address Here</span>
                </div>
            </div>
        </div>

        <div class="header-photo-area">
            <img src="imgs/photo.png" alt="Ваше фото" class="header-photo-img">
        </div>
    </div>

    <div class="col-md-7 header-right-section">

        <div class="header-top-right-contacts">
            <div class="contacts">
                <div class="contact-item">
                    <span class="label">PHONE</span>
                    <span>+000 123 456 789</span>
                </div>
                <div class="contact-item">
                    <span class="label">EMAIL</span>
                    <span>urname@gmail.com</span>
                </div>
                <div class="contact-item">
                    <span class="label">WEB</span>
                    <span>www.websitename.com</span>
                </div>
            </div>
        </div>

        <div class="header-title-area">
            <h1>ALEX BRAHAR</h1>
            <div class="title-underline"></div>
            <h2>UI DESIGNER</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elitsed eiusmod
                tempor incididunt labore dolore magna aliqua. Quis suspendisse ultrices
                gravida euismod tempor incididunt labore magna aliqua.
            </p>
        </div>
    </div>
</header>