<header class="header">

    <div class="header-top-bar row g-0">
        <div class="col-5 header-top-left d-flex align-items-center justify-content-start">
            <div class="contact-block-area">
                <i class="fas fa-map-marker-alt"></i>
                <div>
                    <span class="label">AREA</span>
                    <span class="street-address">Your Street Address Here</span>
                </div>
            </div>
        </div>
        <div class="col-7 header-top-right d-flex align-items-center justify-content-end">
            <div class="contacts d-flex">
                <div class="contact-item">
                    <span class="label">PHONE</span>
                    <span>+000 123 456 789</span>
                </div>
                <div class="contact-item">
                    <span class="label">EMAIL</span>
                    <span>urname@gmail.com</span>
                </div>
                <div class="contact-item">
                    <span class="label">WEB</span>
                    <span>www.websitename.com</span>
                </div>
            </div>
        </div>
    </div>

    <div class="header-main row g-0">
        <div class="col-5 header-photo-area">
            <img src="imgs/photo.png" alt="Ваше фото" class="header-photo-img">
        </div>
        <div class="col-7 header-title-area p-5">
            <h1>ALEX BRAHAR</h1>
            <div class="title-underline"></div>
            <h2>UI DESIGNER</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elitsed eiusmod
                tempor incididunt labore dolore magna aliqua. Quis suspendisse ultrices
                gravida euismod tempor incididunt labore magna aliqua.
            </p>
        </div>
    </div>
</header>