


<div class="hobbies-section mt-4">
    <h3 class="section-title hobbies-title">Hobbies</h3>
    <div class="hobbies-list d-flex justify-content-between">
        <div class="hobby-item d-flex flex-column align-items-center">
            <i class="fas fa-plane-departure mb-1"></i>
            <span>Travel</span>
        </div>
        <div class="hobby-item d-flex flex-column align-items-center">
            <i class="fas fa-music mb-1"></i>
            <span>Music</span>
        </div>
        <div class="hobby-item d-flex flex-column align-items-center">
            <i class="fas fa-pen-fancy mb-1"></i>
            <span>Writing</span>
        </div>
        <div class="hobby-item d-flex flex-column align-items-center">
            <i class="fas fa-chess-knight mb-1"></i>
            <span>Chess</span>
        </div>
    </div>
</div>