<div class="hobby-section">
    <h3 class="section-title hobby-title">Hobbies</h3>
    <div class="hobby-list d-flex justify-content-between text-center">
        <div class="hobby-item">
            <i class="fas fa-plane"></i>
            <span>Travel</span>
        </div>
        <div class="hobby-item">
            <i class="fas fa-music"></i>
            <span>Music</span>
        </div>
        <div class="hobby-item">
            <i class="fas fa-pencil-alt"></i>
            <span>Writing</span>
        </div>
        <div class="hobby-item">
            <i class="fas fa-chess-knight"></i>
            <span>Chess</span>
        </div>
    </div>
</div>