<div class="hobby-section">
    <h3 class="section-title hobby-title">Hobbies</h3>
    <div class="hobby-list">
        <div class="hobby-item">
            <div class="hobby-circle">
                <i class="fas fa-plane"></i>
            </div>
            <span>Travel</span>
        </div>
        <div class="hobby-item">
            <div class="hobby-circle">
                <i class="fas fa-music"></i>
            </div>
            <span>Music</span>
        </div>
        <div class="hobby-item">
            <div class="hobby-circle">
                <i class="fas fa-pencil-alt"></i>
            </div>
            <span>Writing</span>
        </div>
        <div class="hobby-item">
            <div class="hobby-circle">
                <i class="fas fa-chess-knight"></i>
            </div>
            <span>Chess</span>
        </div>
    </div>
</div>